@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    background: #ffcea0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #6bc2c9, #c994cf, #ffcea0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #6bc2c9, #c994cf, #ffcea0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

h1{
    text-align: center;
    font-family: 'Poppins';
    font-size: 5vh;
    text-shadow: 4px 4px 0px white;
    mix-blend-mode: screen;
    animation: fadeIn 2.5s linear forwards;
}
  
p{
    font-family: 'Poppins';
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

.center{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

canvas {
    margin: 10px;
    height: auto;
    width: 70%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background: black;
}

.chat{
    width: 30%;
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: white;
}

.virtualKeyboard{
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}


#btn_left{
    background: url('./images/arrow_left.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

#btn_up{
    background: url('./images/arrow_up.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

#btn_down{
    background: url('./images/arrow_down.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

#btn_right{
    background: url('./images/arrow_right.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}


.btn_arrow{
    width: 50px;
    height: 50px;
    margin: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
}

.vertical{
    display: flex;
    flex-direction: row;
}

.btn_arrow:active{
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
}

.btn_arrow img{
    width: 30px;
    height: 30px;
}


@media screen and (orientation : portrait) {	
    body {
        justify-content: flex-start;
    }

    canvas {
        height: 60vh;
        width: fit-content;
        margin: 5px;
    }

    .chat{
        margin: 5px;
    }

    .btn_arrow{
        width: 35px;
        height: 35px;
        margin: 10px;
    }

    .btn_arrow img{
        width: 10px;
        height: 10px;
    }

    .vertical{
        flex-direction: column;
    }
    
    
}